.header{
    margin-top:6opx;
}

.headerTitles{
    display:flex;
    flex-direction:column;
    align-items: center;
    font-family: 'Lora', serif;
    color:#4444;
}

.headerTitleSm{
    position:absolute;
    top:18px;
    font-size:20px;
}

.headerTitleLg{
    position:absolute;
    top:20%;
    font-size:100px;
}